<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cetifitate</title>
</head>
<body style="background-color :#F3F1E0;">
<div style="width:800px; height:600px; padding:20px; text-align:center; border: 10px solid #787878">

<div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid #787878">

<img alt="" src = "C:/Users/Tvasthaa/PycharmProjects/tvashtaablog/blog/static/img/logo.png" width="150px" height="75px" style="position:absolute;left: -5px; top: 0px;"/>

     <span style="font-size:35px;color:blue;overflow: hidden;"><i>TVASHTAA DATA SOLUTIONS</i></span><br>
     <span style="font-size:15px; font-weight:bold">Regd.No:AAJ-6215</span>
   <br><br>

       <span style="font-size:50px; font-weight:bold">Certificate of Completion</span>

       <br><br>
       <span style="font-size:25px"><i>Is hereby granted to</i></span>

       <br><br>
       <span style="font-size:30px;color:blue;"><b>{{user}}</b></span><br/><br/>
       <span style="font-size:25px"><i>to certify that he/she has completed to satisfaction in </i></span> <br/><br/>
       <span style="font-size:30px;color:blue;">{{coursename}}</span> <br/><br/>
       <span style="font-size:20px;color:blue;">with percentage of <b>{{percentage|floatformat:0}}%</b></span> <br/><br/><br/><br/>

<span style="font-size:25px;float:left;"><i>Tvast-020600055UCN</i></span>
    <span style="font-size:25px;float:right;"><i>Date:</i></span>
      <span style="font-size:30px">{{date}}</span>
      <!--<span style="font-size:10px">www.tvashtaa.com</span>-->
</div>
</div>
</body>
</html>